@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.primary-button-white{
  @apply block w-full py-2 px-3 text-center  text-black  bg-white rounded lg:inline-block lg:w-auto lg:px-5 lg:py-2 lg:ml-2 hover:text-primary-600
}

.primary-button{
  @apply block w-full py-2 px-3 text-center  text-white  bg-primary-500 rounded lg:inline-block lg:w-auto lg:px-5 lg:py-2 lg:ml-2 hover:text-black

}

.secondary-button{
  @apply block w-full py-2 px-3 text-center  text-primary-600  bg-secondary-600 rounded lg:inline-block lg:w-auto lg:px-5 lg:py-2 lg:ml-2 hover:text-black

}